nodeRedFlows/mainFlow.json
[{"id":"d0b8db7e.01ec18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9141a5ec.5df588","type":"hue-bridge-node","z":"d0b8db7e.01ec18","name":"Home","bridge":"ccba5309.d8fb1","autoupdates":true,"skipglobalevents":false,"x":610,"y":160,"wires":[[]]},{"id":"cea4f4d9.50e308","type":"inject","z":"d0b8db7e.01ec18","name":"Toggle Default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"toggle\":true}","payloadType":"str","x":1750,"y":160,"wires":[[]]},{"id":"b284fa56.2aa278","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Slytherin","bridge":"ccba5309.d8fb1","sceneid":"t06X7Unckw4eN2j","groupid":"2","skipevents":false,"x":1000,"y":560,"wires":[["3fdf0d64.2a1a62"]]},{"id":"2683b78.315a848","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Intro","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1740,"y":200,"wires":[[]]},{"id":"a2f8dcd9.320b2","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Ravenclaw","bridge":"ccba5309.d8fb1","sceneid":"Hv3zHIVeEseQILw","groupid":"2","skipevents":false,"x":1010,"y":600,"wires":[["3fdf0d64.2a1a62"]]},{"id":"566dc63f.373848","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Red-Orange-Purple","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1790,"y":240,"wires":[[]]},{"id":"8150b9ce.a09c68","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Hufflepuff","bridge":"ccba5309.d8fb1","sceneid":"NeQlqYZ7FiqglaV","groupid":"2","skipevents":false,"x":1000,"y":640,"wires":[["3fdf0d64.2a1a62"]]},{"id":"17f1a946.242e67","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Green-Yellow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1770,"y":280,"wires":[[]]},{"id":"5f1d01ed.10103","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Gryffindor","bridge":"ccba5309.d8fb1","sceneid":"nBiyx1rZRahSjnb","groupid":"2","skipevents":false,"x":1000,"y":680,"wires":[["3fdf0d64.2a1a62"]]},{"id":"2f855cf9.b521e4","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Red-Teal","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1750,"y":320,"wires":[[]]},{"id":"4d6b9ce0.d05e74","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Cat","bridge":"ccba5309.d8fb1","sceneid":"Vp-3sFXqzl9krDW","groupid":"2","skipevents":false,"x":990,"y":720,"wires":[[]]},{"id":"de6cd1ca.d65b6","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Relax","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1740,"y":360,"wires":[[]]},{"id":"a005506d.62f06","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Scarab","bridge":"ccba5309.d8fb1","sceneid":"Dr5UoHifHKYWVFn","groupid":"2","skipevents":false,"x":1000,"y":760,"wires":[[]]},{"id":"2491cc9f.c7c734","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Energize","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1750,"y":400,"wires":[[]]},{"id":"226bcc73.2cf884","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Dimmed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1750,"y":440,"wires":[[]]},{"id":"397c8a70.ca6246","type":"inject","z":"d0b8db7e.01ec18","name":"Toggle Color Loop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"colorloop\":true}","payloadType":"str","x":1770,"y":480,"wires":[[]]},{"id":"393450e8.e004c","type":"udmx","z":"d0b8db7e.01ec18","name":"DMX Lights","x":310,"y":480,"wires":[]},{"id":"c5882982.be3488","type":"udp in","z":"d0b8db7e.01ec18","name":"From Unity","iface":"","port":"8051","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":480,"wires":[["6cf6181a.8aacf8"]]},{"id":"6cf6181a.8aacf8","type":"function","z":"d0b8db7e.01ec18","name":"DMX Data Parser","func":"var output = msg.payload.split(\",\");\nvar address = parseInt(output[0]);\nvar channel = parseInt(output[1]);\nvar featureType = output[2];\n\nif (featureType == 'motor')\n{\n    var motorVal = output[3];\n    var message1 = {topic:channel,payload:motorVal};\n    return [message1, null];\n}\nif (featureType == 'color')\n{\n    var R = parseInt(output[3]);\n    var G = parseInt(output[4]);\n    var B = parseInt(output[5]);\n    var messageR = {topic:channel,payload:R};\n    var messageG = {topic:channel + 1,payload:G};\n    var messageB = {topic:channel + 2,payload:B};\n    return [null, messageR, messageG, messageB];\n}\nif (featureType == 'float')\n{\n    var floatVal = output[3];\n    var messageFloat = {topic:channel,payload:floatVal};\n    return [null, null, null, null, messageFloat];\n}\nif (featureType == 'hueBulb')\n{\n    var hueR = parseInt(output[3]);\n    var hueG = parseInt(output[4]);\n    var hueB = parseInt(output[5]);\n    var hueA = parseInt(output[6]);\n    var outJson = { payload : {\"on\":true, \"rgb\":[hueR,hueG,hueB], \"brightnessLevel\":hueA}, topic : output[7] };\n    return [null, null, null, null, null, outJson];\n    //return [null, null, null, null, null, '{\"on\":true, \"rgb\":[' + hueR + ',' + hueG + ',' + hueB +']}'];\n}\nelse\n{\n    return [null, null, null, null, null];\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":130,"y":560,"wires":[["393450e8.e004c"],["393450e8.e004c"],["393450e8.e004c"],["393450e8.e004c"],["393450e8.e004c"],["f124ed26.560b5"]]},{"id":"781521b4.4ebff","type":"hue-light","z":"d0b8db7e.01ec18","name":"Table3","bridge":"ccba5309.d8fb1","lightid":"3","colornamer":true,"skipevents":false,"x":470,"y":540,"wires":[[]]},{"id":"f124ed26.560b5","type":"switch","z":"d0b8db7e.01ec18","name":"Light Router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Table1","vt":"str"},{"t":"eq","v":"Table2","vt":"str"},{"t":"eq","v":"Table3","vt":"str"},{"t":"eq","v":"Kitchen1","vt":"str"},{"t":"eq","v":"Kitchen2","vt":"str"},{"t":"eq","v":"Entry","vt":"str"},{"t":"eq","v":"Hallway","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":310,"y":560,"wires":[["424d3bed.b6a874"],["f6d2a1f6.f92c1"],["781521b4.4ebff"],["7ea159bf.3ea568"],["8d272d49.c9b0a"],["aec6d584.1eff58"],["572d0bc8.0e6a44"]]},{"id":"424d3bed.b6a874","type":"hue-light","z":"d0b8db7e.01ec18","name":"Table1","bridge":"ccba5309.d8fb1","lightid":"1","colornamer":true,"skipevents":false,"x":470,"y":500,"wires":[[]]},{"id":"f6d2a1f6.f92c1","type":"hue-light","z":"d0b8db7e.01ec18","name":"Table2","bridge":"ccba5309.d8fb1","lightid":"2","colornamer":true,"skipevents":false,"x":610,"y":500,"wires":[[]]},{"id":"572d0bc8.0e6a44","type":"hue-light","z":"d0b8db7e.01ec18","name":"Hallway","bridge":"ccba5309.d8fb1","lightid":"4","colornamer":true,"skipevents":false,"x":480,"y":620,"wires":[[]]},{"id":"7ea159bf.3ea568","type":"hue-light","z":"d0b8db7e.01ec18","name":"Kitchen1","bridge":"ccba5309.d8fb1","lightid":"7","colornamer":true,"skipevents":false,"x":620,"y":540,"wires":[[]]},{"id":"8d272d49.c9b0a","type":"hue-light","z":"d0b8db7e.01ec18","name":"Kitchen2","bridge":"ccba5309.d8fb1","lightid":"5","colornamer":true,"skipevents":false,"x":480,"y":580,"wires":[[]]},{"id":"aec6d584.1eff58","type":"hue-light","z":"d0b8db7e.01ec18","name":"Entry","bridge":"ccba5309.d8fb1","lightid":"6","colornamer":true,"skipevents":false,"x":610,"y":580,"wires":[[]]},{"id":"59c1691f.28cac8","type":"udp out","z":"d0b8db7e.01ec18","name":"Unity Magic Show","addr":"192.168.0.207","iface":"","port":"8052","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":350,"y":220,"wires":[]},{"id":"ab0bb28e.1220e","type":"inject","z":"d0b8db7e.01ec18","name":"Start Magic Show","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"finalCountdownFull","payloadType":"str","x":120,"y":260,"wires":[["59c1691f.28cac8"]]},{"id":"7419156b.0c2a3c","type":"alexa-home","z":"d0b8db7e.01ec18","conf":"ea566276.40954","device":"112643","acknoledge":true,"name":"The Magic","topic":"","x":100,"y":160,"wires":[["acd54e11.fa53c"]]},{"id":"acd54e11.fa53c","type":"function","z":"d0b8db7e.01ec18","name":"","func":"var payload = msg.payload;\n\nif (payload === true)\n{\n    var animName = {payload:\"finalCountdownFull\"};\n    return [animName, null];\n}\nelse if (payload === false)\n{\n    var stopSignal = {payload:\"stop\"};\n    return [null, stopSignal];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["59c1691f.28cac8"],["59c1691f.28cac8"]]},{"id":"d5e031d6.671e9","type":"inject","z":"d0b8db7e.01ec18","name":"Stop All","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Stop","payloadType":"str","x":90,"y":300,"wires":[["59c1691f.28cac8"]]},{"id":"6a700b16.9b37e4","type":"inject","z":"d0b8db7e.01ec18","name":"Line Up Magic Show","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"finalCountdownStart","payloadType":"str","x":130,"y":220,"wires":[["59c1691f.28cac8"]]},{"id":"a2961b97.139338","type":"debug","z":"d0b8db7e.01ec18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":240,"wires":[]},{"id":"984b591e.f22278","type":"mosca in","z":"d0b8db7e.01ec18","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":1800,"y":160,"wires":[[]]},{"id":"bd3ead92.6be04","type":"mqtt in","z":"d0b8db7e.01ec18","d":true,"name":"","topic":"receiveRFID","qos":"0","datatype":"auto","broker":"c51a127e.abb08","x":1330,"y":180,"wires":[["a2961b97.139338"]]},{"id":"8028eadb.c9ba68","type":"function","z":"d0b8db7e.01ec18","name":"RFID Parser","func":"var input = msg.payload\n\nvar snake = '1746614566';\nvar eagle = '624010966';\nvar badger = '622289566';\nvar lion = '3057118250';\nvar scarab = '15821010125';\nvar cat = '11025513025';\n\nvar message = {payload:true};\n\nvar lastID = flow.get(\"lastID\");\n\nif (input == lastID)\n{\n    return[null];\n}\nelse\n{\n    flow.set(\"lastID\", input);\n}\n\nif (input == snake)\n{\n    return [message];\n}\nif (input == eagle)\n{\n    return [null, message];\n}\nif (input == badger)\n{\n    return [null, null, message];\n}\nif (input == lion)\n{\n    return [null, null, null, message];\n}\nif (input == scarab)\n{\n    return [null, null, null, null, message];\n}\nif (input == cat)\n{\n    return [null, null, null, null, null, message];\n}\n\n\n\n\n","outputs":6,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"lastID\", \"\");","finalize":"","x":290,"y":820,"wires":[["b284fa56.2aa278"],["a2f8dcd9.320b2"],["8150b9ce.a09c68"],["5f1d01ed.10103"],["4d6b9ce0.d05e74"],["a005506d.62f06"]]},{"id":"22fd655b.29efaa","type":"inject","z":"d0b8db7e.01ec18","name":"Verify Devices","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"verify","payloadType":"str","x":110,"y":1080,"wires":[["dfe38f98.ad858","23c0f11.8edee0e"]]},{"id":"3bf23c2e.1a1974","type":"udp out","z":"d0b8db7e.01ec18","name":"Send Verification Prompt to RFID Statues","addr":"192.168.0.194","iface":"","port":"1883","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":500,"y":1120,"wires":[]},{"id":"305577d3.629378","type":"udp in","z":"d0b8db7e.01ec18","name":"","iface":"","port":"1883","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":880,"wires":[["8028eadb.c9ba68","180c5fa7.f2188","da94da66.b7e4b8"]]},{"id":"bfcb5b28.455508","type":"comment","z":"d0b8db7e.01ec18","name":"Magic Show Controls","info":"","x":140,"y":100,"wires":[]},{"id":"1dce98b4.9fdc07","type":"comment","z":"d0b8db7e.01ec18","name":"Unity to DMX and Hue","info":"","x":140,"y":420,"wires":[]},{"id":"84af9319.db0e1","type":"comment","z":"d0b8db7e.01ec18","name":"RFID In","info":"","x":90,"y":720,"wires":[]},{"id":"8d5071ec.195be","type":"udp in","z":"d0b8db7e.01ec18","name":"","iface":"","port":"1883","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":80,"y":1260,"wires":[["b1b68da4.4532f"]]},{"id":"b1b68da4.4532f","type":"function","z":"d0b8db7e.01ec18","name":"RFID Statues","func":"var p = msg.payload;\nvar s = String.fromCharCode(p[0], p[1], p[2], p[3]);\nvar message = {payload:s};\n\nif (s == \"good\" || p == \"good\")\n{\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n}\nelse if (s == \"fail\" || p == \"fail\")\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n}\n\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1260,"wires":[[]]},{"id":"5059c974.bfe778","type":"comment","z":"d0b8db7e.01ec18","name":"Verification","info":"","x":80,"y":1040,"wires":[]},{"id":"dfe38f98.ad858","type":"function","z":"d0b8db7e.01ec18","name":"Reset Verification","func":"var message = {\"payload\":\"fail\"};\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1080,"wires":[["b1b68da4.4532f","be2e7957.b21d48","70ea458.0a52ebc"]]},{"id":"23c0f11.8edee0e","type":"delay","z":"d0b8db7e.01ec18","name":"Delay 1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1120,"wires":[["3bf23c2e.1a1974","343ea18f.35163e","179e3e7.52ed1c2"]]},{"id":"180c5fa7.f2188","type":"debug","z":"d0b8db7e.01ec18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":960,"wires":[]},{"id":"667c9d6b.b377d4","type":"udp out","z":"d0b8db7e.01ec18","name":"Send to rPi 2003","addr":"192.168.0.192","iface":"","port":"2003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1050,"y":1000,"wires":[]},{"id":"e27d733e.bfe7","type":"inject","z":"d0b8db7e.01ec18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"quit","payloadType":"str","x":850,"y":920,"wires":[["667c9d6b.b377d4"]]},{"id":"af0e209c.ca28e","type":"udp in","z":"d0b8db7e.01ec18","name":"","iface":"","port":"2003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":1320,"wires":[["be2e7957.b21d48"]]},{"id":"be2e7957.b21d48","type":"function","z":"d0b8db7e.01ec18","name":"Pi Audio Player","func":"var p = msg.payload;\n\nvar message = {payload:p};\n\nif (p == \"good\")\n{\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n}\nelse if (p == \"fail\")\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n}\n\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1320,"wires":[[]]},{"id":"343ea18f.35163e","type":"udp out","z":"d0b8db7e.01ec18","name":"Send Verification Prompt to Pi Audio Player","addr":"192.168.0.192","iface":"","port":"2003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":510,"y":1160,"wires":[]},{"id":"f602ee90.ddc3b","type":"udp out","z":"d0b8db7e.01ec18","name":"Send to Pi Audio Player","addr":"192.168.0.236","iface":"","port":"2002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1270,"y":600,"wires":[]},{"id":"3fdf0d64.2a1a62","type":"function","z":"d0b8db7e.01ec18","name":"Translate Lights to Audio","func":"var name = msg.payload.name;\nvar translation = {payload:name};\nreturn translation;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":560,"wires":[["f602ee90.ddc3b"]]},{"id":"f72413d6.7f8d3","type":"udp out","z":"d0b8db7e.01ec18","name":"","addr":"192.168.0.213","iface":"","port":"1884","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1080,"y":1060,"wires":[]},{"id":"3a4500b6.67024","type":"inject","z":"d0b8db7e.01ec18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":850,"y":1060,"wires":[["f72413d6.7f8d3"]]},{"id":"f43d3c22.a9383","type":"udp in","z":"d0b8db7e.01ec18","name":"","iface":"","port":"1884","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":80,"y":1380,"wires":[["70ea458.0a52ebc"]]},{"id":"70ea458.0a52ebc","type":"function","z":"d0b8db7e.01ec18","name":"Mag Lock","func":"var p = msg.payload;\nvar s = String.fromCharCode(p[0], p[1], p[2], p[3]);\nvar message = {payload:s};\n\nif (s == \"good\" || p == \"good\")\n{\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n}\nelse if (s == \"fail\" || p == \"fail\")\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n}\n\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1380,"wires":[[]]},{"id":"179e3e7.52ed1c2","type":"udp out","z":"d0b8db7e.01ec18","name":"Send Verification Prompt to Mag Lock","addr":"192.168.0.213","iface":"","port":"1884","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":490,"y":1200,"wires":[]},{"id":"4e12564d.705a18","type":"inject","z":"d0b8db7e.01ec18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":850,"y":1100,"wires":[["f72413d6.7f8d3"]]},{"id":"61499ba5.b93564","type":"inject","z":"d0b8db7e.01ec18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"001","payloadType":"str","x":850,"y":960,"wires":[["667c9d6b.b377d4"]]},{"id":"c3880ba7.992c28","type":"inject","z":"d0b8db7e.01ec18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"kill","payloadType":"str","x":850,"y":1000,"wires":[["667c9d6b.b377d4"]]},{"id":"db75a500.b3fa48","type":"inject","z":"d0b8db7e.01ec18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":700,"wires":[["b284fa56.2aa278"]]},{"id":"da94da66.b7e4b8","type":"function","z":"d0b8db7e.01ec18","name":"RFID Parser Tiki","func":"var input = msg.payload\n\nvar scene001 = '1171513528';\nvar scene002 = '117167528';\nvar scene003 = '117155628';\nvar scene004 = '10120020228';\nvar scene005 = '1017223228';\nvar scene006 = '10122218628';\nvar scene007 = '101906428';\nvar scene009 = '1013216628';\nvar scene010 = '10125419928';\nvar kill = '7511128128';\n\n\nvar message = {payload:true};\n\nvar lastID = flow.get(\"lastIDTiki\");\n\nif (input == lastID)\n{\n    return[null];\n}\nelse\n{\n    flow.set(\"lastIDTiki\", input);\n}\n\nif (input == scene001)\n{\n    return [{payload:true}, {payload:\"001\"}];\n}\nif (input == scene002)\n{\n    return [{payload:true}, {payload:\"002\"}];\n}\nif (input == scene003)\n{\n    return [{payload:true}, {payload:\"003\"}];\n}\nif (input == scene004)\n{\n    return [{payload:true}, {payload:\"004\"}];\n}\nif (input == scene005)\n{\n    return [{payload:true}, {payload:\"005\"}];\n}\nif (input == scene006)\n{\n    return [{payload:true}, {payload:\"006\"}];\n}\nif (input == scene007)\n{\n    return [{payload:true}, {payload:\"007\"}];\n}\nif (input == scene009)\n{\n    return [{payload:true}, {payload:\"009\"}];\n}\nif (input == scene010)\n{\n    return [{payload:true}, {payload:\"010\"}];\n}\nif (input == kill)\n{\n    return [{payload:true}, {payload:\"kill\"}];\n}\n\n\n\n\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"lastIDTiki\", \"\");","finalize":"","x":540,"y":940,"wires":[["42f93c3f.7ec164","f465e5de.8371c8"],["667c9d6b.b377d4"]]},{"id":"42f93c3f.7ec164","type":"debug","z":"d0b8db7e.01ec18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":860,"wires":[]},{"id":"f465e5de.8371c8","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Nightlight","bridge":"ccba5309.d8fb1","sceneid":"VsF-Blnea6fnAq6","groupid":"2","skipevents":false,"x":840,"y":840,"wires":[[]]},{"id":"ccba5309.d8fb1","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.120","key":"QlfvxhlAW89wfTDndatOxfhY3ODeqeOetopxPEKX","interval":"3000","disableupdates":false},{"id":"ea566276.40954","type":"alexa-home-conf","z":"","username":"crydrk"},{"id":"c51a127e.abb08","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.160","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]